# Python Refresher

Boolean Operations

The Boolean data type is a truth value, either
True or False

The Boolean operators ordered by priority: not->and->or

In [ ]:
#Assigning variables - This is a comment
x = True
y = False

#Visualising the results of the following Boolean operations 
#print is a native function of Python that helps you to achieve that
print(not x)
print(x and y)
print(x and not y)
print(x or y)

False
False
True
True

E1. Now try to create a variable *z= (2<1)* and a variable *r = (10>5)* and apply a *not* operation on *z* and perform *and* and *or* operations with *r*. Make sure You print the results

Arithmetic Operations

An **integer** is a positive or negative number without floating point (e.g. 9). 

A **float** is a positive or negative number with floating point precision (e.g. 3.14159265359).

In [ ]:
#I can assign two variables in one row
a,b = 10, -9
#Using the arithmetic operators
print(a+b)
print(a-b)
print(a*b)
print(a/b)
#Integer division operation returns a rounded number towards the smaller integer
print(a//b)
#Modulus
print(a%b) 
print(-b)
print(abs(b))
#Exponentiation
print(b**a)
print(float(b))
print(int(b))

1
19
-90
-1.1111111111111112
-2
-8
9
9
3486784401
-9.0
-9

E2. Using variables and arithmetic operations introduce the following operation:

result = a^2 +2bc -b^2 + a/b , where a=10, b=2, and c =3

Strings
Python Strings are sequences of characters.

The four main ways to create strings are the
following:

1. Single quotes
`'No'`
2. Double quotes
`"No"`
3. Triple quotes (multi-line)
```
"""No
You cannot go to bed late"""
```

Creating a String object:

str(109)

In [ ]:
print(str(109)=="109")

True

In [ ]:
## Indexing and Slicing Strings
s = "The lion (Panthera leo) is a large cat of the genus Panthera native to Africa and India."
print(s[0]) # 'T'
print(s[1:3]) # 'he'
print(s[-3:-1]) # 'ia'
print(s[-3:]) # 'ia.'
x = s.split() # function that creates string array of words
print(x[-3] + " " + x[-1] + " " + x[2] + "s") #Africa India. (Pantheras
print(x[0] + " " + x[1] + " " + x[-2])# The lion and

T
he
ia
ia.
Africa India. (Pantheras
The lion and

E3. if *r = "the hippo, hippopotamus, or river hippopotamus, is a large semiaquatic mammal native to sub-Saharan Africa"*

1) Show the substring: the hippo, hippopotamus, or river hippopotamus
2) Show the substring: sub-Saharan Africa
3) Show the substring: river hippopotamus
All using code

In [ ]:
## Most Important String Methods
s= "   "+s[0:8]+"  "
print(s)
print(s.strip()) # Remove Whitespace: The lion
s = s.strip() # saving the result in s
print(s.lower()) # Lowercase: the lion
print(s.upper()) # Uppercase: THE LION 
print(s.startswith("li")) # False
print(s.endswith("on")) # True
print(s.find("lion")) # Match index: 4
print(s.replace("on", "me")) # 'lime'
print(s.join(["F", "B", "I"])) # 'F,B,I'
print(len("LION")) # String length: 4
print("jupi" in "jupiter") # Contains: True

   The lion
The lion
the lion
THE LION
False
True
4
The lime
FThe lionBThe lionI
4
True

E4. if s = "The giant panda is a bear species endemic to China"

Show s in lowecarse, uppercase and concatenate both and replace the word "giant" by the word "small"